*{
	box-sizing: border-box;
	margin:0;
	padding: 0;
}

html{
	height: 100%;
}

body{
	font-family: 'Amaranth';
	font-size: 1.2rem;
    min-height: 100%;
    background-color: #999999;   
}

.grid-container {
	min-height: 100%;
	display: grid;
	grid-gap: 10px;

	grid-template: 
	      "A" auto
	      "B" auto
	      "C" 10rem
	      "D" auto 
	      "E" auto;
}
.grid-container > * {
	box-shadow: -1px 1px 7px 0px rgba(0,0,0,0.75);
	border-radius: 4px;
	padding: 10px;
	text-align: center;
}


header {
	grid-area: A;
	background-color: plum; 
}

nav {
	grid-area: B;
	background-color: greenyellow;
}

section { 
    grid-area: C;
    background-color: aqua;
 }

aside {
	grid-area: D;
	background-color: lightseagreen;
}

footer{
	grid-area: E;
	background-color: tan;
}

@media (min-width: 640px) {
	.grid-container {
	     /*grid-template-columns: 200px auto;
	     grid-template-rows: 100px 50px auto 100px;*/
	     /*grid-template-areas:
	     "header header;
	     "navbar navbar"
	     "sidebar main"
	     "footer footers"*/

        grid-template:
         "A A" 4rem
	     "B B" 2rem
	     "D C"  auto
	     "E E" 3rem / 
	     65% 35%;      
	}
}

@media (min-width: 768px) {
     .grid-container {
        grid-template:
         "A A A" 4rem
	     "B C D" auto
	     "E E E" 3rem /
         15% 55% 30%;
     }
}